<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="robots" content="noindex, nofollow" />
    <title>Babble | a chat app</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <style>
      .footer {
        background-color: lightblue;
        color: #666;
        font-weight: 500;
        margin: 5% auto;
        padding: 5% 0;
      }
      .footer a {
        color: #666;
        text-decoration: underline;
      }
      .footer a:hover {
        color: #fff;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation">
          <ul class="nav nav-pills pull-right">
            <%= render "logged.html", conn: @conn %>
          </ul>
        </nav>
        <span class="header"><h1>Welcome to Babble!</h1></span>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <footer>
      <div class="footer" style="text-align: center; width: 100%">
        Alicia Pflaumer 2018 |
        <a href="https://www.linkedin.com/in/aliciapflaumer/" target="_blank">
        LinkedIn
      </a>&nbsp;
        <a href="https://github.com/aliciapflaumer" target="_blank">
          Github
        </a>
      </div>
    </footer>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
